<div class="aba">
    <img src="spacefood-icon.png" id="icone" alt="spacefood-icon">
    <h1 id="titulo">SpaceFood</h1>
    <button class="btn btn-success" id="menu-button" (click)="back()">Cardápio</button>
</div>

<div class="image-back">
    <img src="spaceman-donouts.png" alt="sapceman-donouts">
</div>

<div class="container-back">
        <div class="container-tabela">
          <table class="table">
            <thead>
              <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>quantidade</th>
                <th>Remover</th>
              </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let cart of cart.pratoSelecionado; let i = index;">
                    <td>
                    <img [src]="cart.prato.imagem" alt="{{ cart.prato.imagem }}" width="100" height="100" />
                    <td >{{ cart.prato.nome }}</td>
                    <td >{{ cart.prato.preco | currency: 'BRL' }}</td>
                    <td >{{ cart.quantidade }}</td>
                    <td>
                  <button (click)="remover(cart)" class="btn btn-danger">Remover</button>
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td colspan="2">Valor total: {{ cart.valorTotal }}</td>
                <td>
                  N° Mesa:
                  <input type="number" [(ngModel)]="pedido.numeroMesa" [disabled]="pedido.numeroMesa < 0" />
                </td>
                <td></td>
                <td colspan="2">
                  <button class="btn btn-success" (click)="order(pedido)">Fazer Pedido</button>
                </td>
              </tr>
            </tfoot>

          </table>
        </div>
</div>
